/* FormComponent.css */

.Form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: top 100px; ;
  }
  .Div {
    margin-bottom: 10px;
    display: flex !important;
    flex-direction: row !important;
    justify-content:center;
    align-items:center;
  }
  .submit {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items:center;
  }
  
  label {
    font-weight:bold;
    display:flex; /* Display labels as inline blocks */
    justify-content:flex-start;
    width: 200px;
  }
  
  input{
    width: 70%;
    height:30px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    sx={{ textTransform: 'capitalize' }}
  }
  button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Add additional CSS styles as needed to customize your form's appearance */
  